*{
  margin: 0px;
  padding: 0px;
  box-sizing: border box;
}

body {
  font-size: 20px;
  overflow-x: hidden;
  background-color: lightgrey;
}
 
header {
  position: fixed;
  top: 0;
  height: 30vh;
  width: 100%;
  z-index: 999;
  background-color: lightgray;
}

.ImgLogo {
  float: left;
  height: 100%;
  width: 30%;
}

.top {
  height: 100%;
  width: 70%;
  float: left;
}

article{
  position: fixed;    
}

footer {
  height: 30px;
  background-color: gray;
  text-align: center;
  padding: 20px 0px;
  float: bottom;
  font-size: 18px;
}

.logo{
  height: 155px;
  float: left;
  margin: 40px 60px;
  position: fixed;
  border-radius:50%;
}

.topnav {
  margin-top: 40px;
  margin-right: 40px;
  float: right;
  width: 50%;
}

.topnav a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  padding: 10px; 
  margin: 1px;
}

.topnav a:hover,a:hover  {
  background-color: darkgray;
  text-decoration: none;
  color: black;
  border-radius:12px;
}

.active {
  background-color: darkgrey;
  color: black;
  border: 1px solid black;
  border-radius:12px;
}

.topnav .icon {   
  display: none; 
  text-decoration: none;
}

@media screen and (max-width: 910px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 910px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.article h2 {
  padding-bottom: 25px;
  text-align: center;
}

.article h3 {
  text-align: center;
}

.article {
  top:30vh;
  padding-top: 30vh;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 30px;
}

.container {
  position: relative;
  padding-bottom: 20px;
  margin: auto;
}
  
.mySlides {
 display: none;
 width: 70% ;
 padding-left: 15%;      
}

.cursor {
 cursor: pointer;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
 background-color: gray;
}
  
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.row {
  width: 100%;
  background-color: darkgrey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.column {
  float: left;
  width: 16.66%;
}
  
.demo {
  opacity: 0.6;
}
  
.active,
.demo:hover {
  opacity: 1;
}

/* MODĀLAIS LOGS*/

.help-button {
  color: red;
  padding: 5px;
  border-radius:10px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 99999;        
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: fixed;
  bottom: 0;
  right: 80;
  background-color: darkgray;
  width: 100%;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 8px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.colorchange {
  animation: colorchange 1s infinite;
}

@keyframes colorchange {
  0%{coloro: grey;}
  25%{color:darkgreen}
  50%{color: black}
  100%{color:red}
}

/*POPUP LOGS*/

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 18px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 280px;
  font-size: 16px;
  border-radius:12px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=text] {
  width:90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,  {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: darkgray;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: darkgray;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

  /*LOAD*/

.buttonload {
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 12px 24px; 
  font-size: 16px; 
  border-radius: 12px;
}
